#slider-wrap{ /* Оболочка слайдера и кнопок */
    width:1024px;
    height:650px; 
    }
#slider{ /* Оболочка слайдера */
    width:100%;
    height:100%;
    overflow: hidden;
    border:#eee solid 0px;
    position:relative;}
.slide{ /* Слайд */
    width:100%;
    height:100%;
	padding-top:52px;
    }
.sli-links{ /* Кнопки смены слайдов */
    margin-top:325px;
    text-align:center;

    position: absolute;
    right:0;
    transform:rotate(90deg);
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    
}
.sli-links .control-slide{
    margin:2px;
    display:inline-block;
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(../img/radioBg.png) center bottom no-repeat;}
.sli-links .control-slide:hover{
    cursor:pointer;
    background-position:center center;}
.sli-links .control-slide.active{
    background-position:center top;}
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
    display:block;
    width:33px;
    height:10%;
    position:absolute;
    /* top:0; */
	bottom:0;

    overflow:hidden;
    text-indent:-999px;
    background:url(../img/arrows.png) left center no-repeat;
    opacity:0.8;
    z-index:3;
    outline:none !important;}
#prewbutton{
	/* left:10px; */
	left:46%;
}
#nextbutton{
    /* right:10px; */
	right:46%;
    background:url(../img/arrows.png) right center no-repeat;
}
#prewbutton:hover, #nextbutton:hover{
    opacity:1;}
	
	

/*-------------------------------------------------------------------------------------*/

.reviews .slider{
	height:302px;
	background-color:transparent;
}



.reviews #slider-wrap{
	width:100% !important;
	height:100% !important;
}

.reviews .slide .caption{
	font-family:'PTSansRegular';
	font-weight:bold;
	font-size:24px;
	color:#9dc02e;
	width:26%;
	margin:0 auto;
}

.reviews .slide .main{
	color:#6c6c6c;
	margin-top:45px;
}

.reviews .slide .main p{
	font-family:'PTSansRegular';
	font-style:italic;
	font-size:18px;
	text-align:center;
	width:90%;
	margin:0 auto;
	float:left;
}

.left_cav{
	float:left;
	background-image:url(../img/left_cav.png);
}

.right_cav{
	background-image:url(../img/right_cav.png);
	float:right;
	clear:both;
	position:relative;
	bottom:20px;
	right:20px;
}

.left_cav, .right_cav{
	width:44px;
	height:36px;
}